body {
    color:white;
    font-size:18px;
}
.subject, .title {
    font: 24px bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2px 0px;
    background: none;
    cursor: pointer;
    color: white;
    border: none;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11,#p12,#p13
{
    display:none;
    margin:6px 1px 5px;
    padding-bottom: 25px;
    padding-top:12px;
}
#table1,#table2
{
    display:none;
    font-size: 14px;
    
}
.subject:hover
{
        color: white;
    background-color:rosybrown;
    font-style:italic;
    cursor: pointer;

}